body {
    margin:auto;
    background: rgb(177,238,174);
}

.title {
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-weight: bold;
}

.container-clock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-block: 3rem;
    justify-items: center;
    align-items: center;
}

.clock {
    margin-top: 3rem;
}

.block h2 {
    margin-bottom: 6rem;
} 

.clock > button {
    margin-left: 1rem;
}