.container-section{
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.center-align {
    display: grid;
    
    justify-items: center;
    align-items: center;
}

.btn-clock {
    display: flex;
    justify-content: space-between;
}

